In [1]:
# Import pandas
import pandas as pd

In [2]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt', delim_whitespace=True)

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [3]:
# Comparing average income based on ethnicity
df.groupby("Ethnicity")["Income"].mean(numeric_only=True)

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [4]:
# Comparing average balance by marital status shows single people have a higher balance
df.groupby("Married")["Balance"].mean(numeric_only=True)

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

In [5]:
# Finding highest income in dataset
df["Income"].max()

186.634

In [6]:
# Finding lowest income in dataset
df["Income"].min()

10.354

In [7]:
# Finding sum of cards in dataset
df["Cards"].sum()

1183

In [8]:
# Counting number of females in dataset
n_females = df[df.Gender == "Female"].loc[:,"Gender"].count()
n_females

207

In [9]:
# Counting number of males in dataset
n_males = df[df.Gender == "Male"].loc[:,"Gender"].count()
n_males

193

In [10]:
# Comparing females to males shows there are more females
n_females > n_males

True